/* COLORS */
$clr-red: #eb0029;
$clr-yellow: #ff9d2d;
$clr-light: #ffffff;
$clr-dark: #010f1c;

/* BREAKPOINTS */
$mobile: 480px;
$desktop: 1080px;

/* FONTS */
$ff-primary: "Roboto", "sans-serif";
$ff-cursive: "Lobster Two", sans-serif;
$ff-heading: "Rubik", sans-serif