.feature {
    padding: 8rem 0;
    &_wrapper {
         display: flex;
         flex-direction: column;
    }
    &_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 80%;
        margin: 3.5rem auto;
        &_img {
            display: grid;
            place-content: center;
            background: #faf7f2;
            padding: 1.5rem;
            border-radius: 100%;
            transition: 0.5s ease; 
            img {
                filter: none;
                transform: none;
                transition: 0.5s ease;
            }
        }
        &_text {
            h1 {
                font-size: 2rem;
                margin: 2rem 0;
            }
        }
        &:hover {
            .feature_card_img {
                background-color: $clr-red;
                img {
                    filter: brightness(0) invert(1);
                    transform: rotateY(180deg);
                }
            }
        }
    }
    @include mediaQuery($desktop) {
        &_wrapper {
            flex-direction: row;
            max-width: 120rem;
            margin: 0 auto;
            gap: 2rem;
        }
        &_card {
            align-items: start;
            flex-direction: row;
            text-align: left;
            gap: 1.5rem;
            &_text {
                h1 {
                    margin: 0;
                    margin-bottom: 0.5rem;
                }
            }
            &:nth-of-type(2) {
                padding: 0 5rem;
                border-left: 1px dashed rgba($color: #000000, $alpha: 0.3);
                border-right: 1px dashed rgba($color: #000000, $alpha: 0.3);
            }
        }
    }
}

.about {
    &_wrapper {
        display: flex;
        flex-direction: column;
        max-width: 130rem;
        margin: 0 auto;
    }
    &_img {
        margin: 12rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .about_image {
            z-index: 2;
            width: 38rem;
        }
        .bg_shape {
            z-index: -1;
            position: absolute;
            left: 0;
            width: 43rem;
        }
    }
    &_text {
        padding: 0 3rem;
        padding-bottom: 10rem;
        .about_title {
            display: flex;
            gap: 1.5rem;
            margin-bottom: 1.5rem;
            h1 {
                font-size: 2rem;
            }
        }
        &_content {
            h1 {
                font-size: 3.5rem;
                font-weight: 600;
            }
            p {
                color: rgba($color: #000000, $alpha: 0.7);
                margin: 3rem 0;
            }
        }
        &_separator {
            display: none;
        }
        .checklist_section {
            padding-bottom: 3.75rem;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
            .video_section {
                background-image: url(/img/home/11.jpg);
                background-size: cover;
                background-position: center;
                width: 16rem;
                height: 12rem;
                border-radius: 1rem;
                margin: 8rem 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    font-size: 6rem;
                    color: $clr-red;
                    background: $clr-light;
                    border-radius: 100%;
                }
            }
            .checklist {
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    li {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        font-weight: 600;
                        i {
                            color: $clr-red;
                        }
                    }
                }
            }
        }
    }
    .discover_section {
        .discover_button {
            margin: 2.5rem 0;
            padding: 1rem 2rem;
            font-weight: 600;
        }
        .ceo_information {  
            display: flex;
            gap: 2rem;
            &_text {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                h1 {
                    font-size: 1.75rem;
                }
            }
            img {
                border-radius: 100%;
            }
        }
    }
    @include mediaQuery($desktop) {
        &_wrapper {
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            gap: 2rem;
        }
        &_img {
            margin: 0;
            .about_image {
                width: 62rem;
                margin-left: 10rem;
            }
            .bg_shape {
                width: 58.5rem;
            }
        }
        &_text {
            .checklist_section {
                display: flex;
                align-items: flex-end;
                flex-direction: row;
                padding-bottom: 10rem;
                .video_section {
                    margin: 0 5rem 0 5rem;
                }
            }
        }
        .discover_section {
            display: flex;
            align-items: center;
            gap: 3rem;
            .discover_button {
                padding: 2rem 4rem;
            }
            .ceo_information {
                &_text {
                    width: 100%;
                }
                img {
                    width: 56px;
                    height: 56px;
                }
            }
        }
    }
}

.choose {
    background: $clr-dark;
    &_wrapper {
        padding: 8rem 3rem;
        background-image: url(/img/home/why_bg_1.png);
        background-size: cover;
        background-position: center;
    }
    &_content {
        display: flex;
        flex-direction: column-reverse;
    }
    &_text {
        color: $clr-light;
        p {
            color: $clr-light;
        }
        &_header {
            margin: 2rem 0;
            h1 {
                font-size: 3rem;
            }
        }
        &_title {
            display: flex; 
            align-items: end;
            gap: 0.5rem;
            img {
                width: 2.5rem;
            }
            h1 {
                font-size: 2rem;
            }
        }
        &_feature {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 3rem 0;
            border-bottom: 1px solid #4d5765;
            .choose_feature {
                display: flex; 
                gap: 1.5rem;
                &_img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 13.5rem;
                    height: 7rem;
                }
                &_text {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }
        .order_button {
            margin: 4rem 0;
            a {
                font-weight: 700;
                padding: 1rem 1.5rem;
                &::before {
                    background: $clr-light;
                }
                &:hover {
                    color: $clr-dark;
                }
            }
        }
    }
    &_feature {
        &_img { 
            background-image: url(/img/home/feature_icon_bg.svg);
        }
    }
    &_img {
        display: flex;
        align-items: center;
        position: relative;
        padding: 2rem 0;
        &_overlay {
            position: absolute;
            top: -2rem;
            left: 0.5rem;
            img {
                width: 38rem;
            }
        }
        &:hover {
            .choose_img_overlay {
                scale: 1.0;
                animation: zoom_image 4.5s;
                animation-timing-function: ease;
                animation-iteration-count: infinite;
            }
        }
        &_image {
            img {
                width: 36rem;
            }
        }
    }
    &_discount_offer {
        position: absolute;
        top: 25rem;
        img {
            width: 12rem;
        }
        &_text {
            color: $clr-light;
            position: absolute;
            bottom: 2.5rem;
            left: 1.5rem;
            display: flex;
            align-items: center;
            h1 {
                font-size: 4rem;
            }
            .sub_text {
                h1, p {
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
    &_video {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;
        &_header {
            text-align: center;
            h3 {
                font-size: 1.5rem;
                color: #212529;
            }
        }
        .how_section {
            &_video {
                display: grid;
                place-content: center;
                background: black;
                width: 30rem;
                height: 17rem;
                border-radius: 1rem;
                margin: 1.5rem 0;
                i {
                    font-size: 6rem;
                    color: $clr-red;
                    background: $clr-light;
                    border-radius: 100%;
                }
            }
        }
        .how_button {
            color: $clr-light;
            text-decoration: underline;
            align-self: flex-start;
            margin-top: 8rem;
        }
    }
    @include mediaQuery($desktop) {
        &_wrapper {
            padding: 12rem 3rem;
            padding-bottom: 16rem;
        }
        &_content {
            flex-direction: row;
            justify-content: space-between;
            max-width: 120rem;
            margin: 0 auto;
        }
        &_text {
            max-width: 50rem;
            &_feature {
                .choose_feature {
                    &_img {
                        width: 10rem;
                    }
                }
            }
        }
        &_img {
            &_image {
                img {
                    width: 55rem;
                }
            }
            &_overlay {
                top: 0.5rem;
                left: -8rem;
                img {
                    width: 65rem;
                }
            }
        }
        &_discount_offer { 
            position: absolute;
            bottom: 0;
            img {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 12rem;
            }
        }
        .order_button {
            a {
                padding: 2rem 3.5rem;
            }
        }
        &_video {
            max-width: 120rem;
            margin: 4rem auto;
            padding: 0 4rem;
            align-items: start;
            flex-direction: row;
            .how_button {
                padding: 2rem 6rem;
            }
        }
    }
}

.offer {
    background-image: url(/img/home/offer_banner_1.jpg);
    background-size: cover;
    background-position: center;
    &_wrapper {
        position: relative;
        max-width: 130rem;
        margin: 0 auto;
        padding: 10rem 0;
        padding-bottom: 25rem;
    }
    &_column {
        padding-left: 6rem;
        ul {
            li {
                background: $clr-light;
                width: 6rem;
                height: 6rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                border-radius: 1rem;
                margin-bottom: 5px;
                line-height: 1.1;
                span {
                    font-size: 1.45rem;
                    color: #4d5765;
                    font-weight: 500;
                }
            }
        }
    }
    &_text {
        color: $clr-light;
        margin-left: 9.5rem;
        width: 70%;
        h1 {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 1.3;
        }
        p {
            margin: 2rem 0;
        }
        .order_now {
            display: flex;
            align-items: center;
            gap: 3rem;
            a {
                padding: 0.5rem 1.5rem;
                color: $clr-red;
                font-weight: 600    ;
                &::after {
                    background: $clr-light;
                }
            }
            h1 {
                font-size: 2.5rem;
                span {
                    font-size: 1.5rem;
                    text-decoration: line-through;
                }
            }
        }
    }
    .discount_bubble {
        position: absolute;
        top: 11rem;
        right: -4rem;
        &_text {
            position: absolute;
            top: 4.5rem;
            left: 8.5rem;
            h1 {
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 1.3;
                text-align: center;
            }
            span {
                color: $clr-red;
                display: block;
                font-size: 4rem;
            }
        }
        img {
            width: 22rem;
        }
    }
    @include mediaQuery($desktop) {
        &:hover {
            .discount_bubble {
                animation: zoom_image 4.5s;
                animation-timing-function: ease;
                animation-iteration-count: infinite;
            }
        }
        &_wrapper {
            display: flex;
            padding-bottom: 20rem;
        }
        &_text {
            max-width: 60rem;
            margin-left: 16rem;
            .order_now {
                a {
                    padding: 1.5rem 3.5rem;
                }
            }
        }
    }
}

.app {
    &_content {
        max-width: 130rem;
        margin: 0 auto;
        background: #faf7f2;
        &_wrapper {
            background-image: url(/img/home/download_bg_1.png);
            padding: 8rem 12rem;
        }
    }
    &_text {
        max-width: 40rem;
        &_title {
            display: flex;
            gap: 0.5rem;
            h1 {
                font-size: 2rem;
            }
        }
        &_buttons {
            display: flex;
            gap: 1.5rem;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $clr-light;
                background: $clr-red;
                padding: 1rem 3rem;
                border-radius: 10rem;
                gap: 1rem;
                i {
                    font-size: 3rem;
                }
                p {
                    font-size: 1rem;
                }
                h1 {
                    font-size: 1.75rem;
                }
            }
        }
    }
}

@keyframes zoom_image {
    25% {
        scale: 0.9;
    }
    50% {
        scale: 1.0;
    }
    75% {
        scale: 0.9;
    }
    100% {
        scale: 1.0;
    }
}











// ------------------------------------------------inigo--------------------------------------------------------------------

.blog{
    &_wrapper{
        .blog_wrapper2{
            box-shadow: 0px 10px 30px rgba(1, 15, 28, 0.08);
            padding-bottom: 6rem;
            padding-inline: 3rem;
        }

        .blog_header{
            h3{
                margin-bottom: 2rem;
                font-weight: 900;
                font-size: 1.7rem;
                a{
                    transition: 0.5s ease;
                    &:hover{
                    color: $clr-red
                    }
                }
            }
        }


        ul{
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 4rem;
            margin-bottom: 2rem;
            color: gray;
            font-size: 11px;
            li{
                display: flex;
                flex-direction: row;
                align-items: center;
                i{
                    margin-right: .5rem;
                    font-size: 1.5rem;
                }
            }
        }


        p{
            margin-bottom: 3rem;
            text-align: justify;
            font-size: 1.4rem;
            color: gray;
 
        }

        .blog_banner{
            background-color: $clr-light;
            width: 100%;
            margin-bottom: 3rem;
            &:hover, &:focus{
                .inner_bg{
                    background-size: 145%;
                    .inner_icon {
                        .chain, .scope{
                            transform: translateX(0);
                            opacity: 1;
                        }
                    }
                }
                transition: 0.25s ease-in-out;

            }
            .inner_bg{
                background-size: 130%;
                background-position: center;
                background-repeat: no-repeat; 
                display: block;
                width: 100%;
                height: 18rem;
                border-radius: 2rem;
                transition: all 0.25s ease-in-out;
                @include centerAll;
                
                .inner_icon{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin: auto;
                    justify-content: center;
                    gap: 2rem;
                    font-size: 1.2rem;
                    .chain{
                        transform: translateX(-11rem);
                        transition: 0.5s ease;
                        opacity: 0;
                    }

                    .scope{
                        transform: translateX(11rem);
                        transition: 0.5s ease;
                        opacity: 0;
                    }

                    a{
                        background-color: $clr-light;
                        color: $clr-light;
                        margin-bottom: 0;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        padding: 1.3rem;
 
                    }
                    
                }
            }
        }
        .blog_card{
            > a{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $clr-red;
                border-radius: 3.5rem;
                padding: 1.5rem  ;
                color: white;
                height: 4.3rem;
                width: 16rem;
                margin-bottom: 6rem;
                text-transform: uppercase;
                font-size: 11px;
                
                i{
                    margin-left: 1rem;
                    font-size: 13px;
                }
            }

            &:first-child{
                .inner_bg{
                    background-image: url("../img/Blog\ Side\ Bar\ Right/blog food 1.jpg");
                }
            }
            &:nth-child(2){
                .inner_bg{
                    background-image: url("../img/Blog\ Side\ Bar\ Right/blog food 2.jpg");

                }
            }
            &:nth-child(3){
                .inner_bg{
                    background-image: url("../img/Blog\ Side\ Bar\ Right/blog food 3.jpg");
                }
            }
            &:nth-child(4){
                margin-bottom: 20rem;
                .inner_bg{
                    background-image: url("../img/Blog\ Side\ Bar\ Right/blog food 4.jpg");
                }
            }
        }
        .blog_spin{
            @include centerAll;
            justify-content: center;
            gap: 2rem;
             .spin_ring{
                position: relative;
                border-radius: 50%;
                font-size: 10px;
                &::after{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    border-radius: 50%;
                    border: 1px solid gray;
                    border-left: none;
                    border-right: none;
                    scale: 1.4;
                    top: -1px;
                    pointer-events: none; 
                } 
                &:hover{
                    &::after{
                        border-color: $clr-red;
                        transition: .5s ease;
                        transform: rotate(360deg);
                    }
                }
            }
            a{
                background: gray;
                color: $clr-light;
                width: 1.8rem;
                border-radius: 50%;
                aspect-ratio: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: $clr-red;
                    transition: 0.5s ease;
                    transform: rotate(360deg);
                }
            }
            span{
                display: inline-block;
                background: linear-gradient(90deg, transparent, $clr-red);
                width: 14rem;
                height: 1.7px;
                &:last-child{
                background: linear-gradient(-90deg, transparent, $clr-red);
                }
            }
        }
        .blog_main_menu{
 
            margin-bottom: 40px;
            box-shadow: 0px 10px 30px rgba(1, 15, 28, 0.08);
            padding: 4rem;
            margin-top: 3rem;
            border-radius: 3rem;
            margin-inline: 1rem;
            .main{
                font-size: 2rem;
                display: flex;
                align-items: center;
                font-weight: 900;
                span{
                    color: $clr-red;
                    padding-right: 2rem;
                }
            }
            .dot{
                display: inline-block;
                border-top: .1rem dashed gray;
                width: 100%;
                margin-top: 1.5rem;
            }
            .blog_menu{
                display: flex;
                flex-direction: column;
                margin-top: 3rem;
                margin-right: 1rem;
                a{
                    @include centerAll;
                    border-bottom: .1rem dashed gray;
                    padding: 1rem;
                    transition: 0.5s ease;
                    position: relative;
                    color: #4d5765;
                    font-weight: 500;
                    font-size: 1.3rem;
                }
                .home{
                    border-bottom: .1rem dashed gray;
                    padding-bottom: 2rem;
                    transition: 0.5s ease;
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        display: block;
                        background: $clr-red;
                        left: 0;
                        top: 100%;
                        width: 0;
                        height: 3px;
                        transition: 0.5s ease;
                    }
                    &:hover{
                        &::after{
                            width: 23%;
                        }
                        color: $clr-red;
                    }
                }
            }
        }
        .blog_search{
            display: flex;
            justify-content: center;
            box-shadow: 0px 10px 30px rgba(1, 15, 28, 0.08);
            padding: 5rem;
            border-radius: 3rem;
            margin-inline: 1rem;
            .search_white{
                input{
                    background: #faf7f2;
                    border-radius: 3.5rem;
                    padding: 1.5rem;
                    width: 19rem;
                    padding-top: 1.5rem;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border: none;
                    &:focus{
                        outline: 1px solid $clr-red;
                        box-shadow: 0 0 1rem $clr-red;
                    }
                }
            }
            .search_red{
                button{
                    background: $clr-red;
                    color: $clr-light;
                    border-radius: 3.5rem;
                    height: 4.5rem;
                    width: 12rem;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0; 
                    border: none;
                    cursor: pointer;
                    transition: 0.5s ease;
                    &:hover{
                        background: #f13636;
                    }
                    i{
                        margin-right: 1rem;
                    }
                }
            }
        }
        .blog_categories{
            ul{
                display: flex;
                flex-direction: column;
            }
        }
    }
}